.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}

.green-box {
    position: absolute;
    height: 60vh;
    width: inherit;
    background: linear-gradient(rgba(91, 231, 98, 0), rgba(26, 164, 33, 1));
}