* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  max-width: 375px;
  max-height: 812px;
  border: 1px solid black;
  margin: auto;
}

.App-logo {
  pointer-events: none;
  max-width: 60%;
  margin-right: 40%;
  align-self: flex-start;
  margin-bottom: auto;
}

.container {
  height: 812px;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.App-link {
  color: #61dafb;
}

.input-field {
  width: 80%;
  height: 40px;
  margin: 5px auto;
  color: rgba(159, 164, 188, 1);
  top: 15px;
  font-family: Inter;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  padding-left: 15px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: none;
}

.submit-btn {
  width: 80%;
  height: 40px;
  background: rgba(46, 100, 248, 1);
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  color: white;
  font-size: 15px;
  margin: 5px 0px;
}

.placeholder {
  height: 812px;
  width: 375px;
  background: url("images/background-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.message-box {
  margin: 5px 0px;
}