.card{
  box-shadow: 15px 10px 25px 0px  #3FA1A9;
  background: #fff;
  background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf2.png?raw=true'), url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
  background-repeat: no-repeat, no-repeat;
  background-position: 120% -5%, 200% -40%;
  background-size: 40%, 80%;
  animation: open .5s;
}
@keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
}
.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 812px;
}
.field{
  margin: 10px;
  display: flex;
  flex-direction: column;
  }
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #3FA1A9, #79F1A4);
  margin-bottom: 25px;
}
.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63D3A6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}
.img-upload:hover:before{
 opacity: 1;
}
.img-class {
  width: auto;
  height: 100%;
}
label{
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
}
input{
  border-radius: 15px;
  border: 1px solid #B7B7B7;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
input:focus{
  outline: none;
  border: 1px solid #64D488;
}
input::placeholder{
  color: #BEBEBE;
}
.name{ 
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
  max-width: 220px;
  overflow-wrap: break-word;
}
.status{
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}
button{
  position: relative;
  color: #054231;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #64D488;
}
.save{
  font-weight: 600;
  left: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 180px;
  box-shadow: 20px 0px 40px 0px  #63D3A6;
  transition: 0.5s;
}
.edit{
  color: #fff;
  width: 180px;
}

button:focus{
  outline: none;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
.grey-btn {
  width: 80%;
  height: 40px;
  background: #E7E9F3;
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  color: #FF632B;
  font-size: 15px;
  margin: 5px 0px;
  cursor: pointer;
}