.alert-danger {
    bottom: 406px;
    position: relative;
    background-color: #F8F8F8;
    width: 375px;
    min-height: 60px;
    padding: 20px 0px;
    z-index: 99999999;
}

.alertMessage {
    width: 80%;
}

.errorHeader {
    font-size: 20px;
    margin: 10px 0px;
    color: red;
}

.close {
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    left: 330px;
    bottom: 30px
}